.btn {
	position: relative;
	color: $black;
	width: 243px;
	height: 58px;
	border: 1px solid $black;
	font-family: $font-family;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	transition: all 0.1s ease;

	&::after {
		content: '';
		width: 0%;
		height: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
		display: block;
		background-color: $black;
		transition: $transition;
	}

	&:hover {
		color: #fff;
		&::after {
			width: 100%;
		}
	}
}
