.banner {
	width: 100%;
	height: 700px;
	position: relative;
	overflow: hidden;

	@include atSmall {
		height: 570px;
	}

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $black;
		opacity: 0.4;
	}

	.banner-text {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		z-index: 1;
		margin-top: 40px;

		&.second {
			margin-top: 0px;
		}

		h1 {
			line-height: 1.4;
		}

		p {
			font-size: 20px;
			line-height: 1.6;

			&:first-of-type {
				margin-top: 6px;
			}

			@include atSmall {
				font-size: 1rem;
				display: inline-block;
				float: left;

				&:first-of-type {
					margin-top: 30px;
				}
			}
		}
	}
}
