.site-header {
	z-index: 100;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: transparent;
	border-bottom: 1px solid #fff;

	@include atMedium {
		background-color: #fff;
	}

	&.white {
		background-color: #fff;

		.logo {
			color: $black;
		}
	}

	.logo {
		color: #fff;
		width: 131px;
		height: 39px;
		@include atMedium {
			color: $black;
		}
	}
}

.navbar {
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
