.white {
	background-color: black;
	li {
		color: $black;
	}
}

.nav {
	display: flex;

	&.white {
		background-color: aqua;
	}

	li {
		color: #fff;
		font-family: $font-family;
		font-weight: 600;
		font-size: 17px;

		text-transform: capitalize;
		display: flex;
		align-items: center;
		height: 34px;
		position: relative;

		&::before,
		&::after {
			position: relative;
			display: inline-block;
			width: 12px;
			height: 34px;
			opacity: 0;
			transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		}

		&::before {
			content: url('../public/bracket-left.svg');
			margin-right: 9px;
			left: 15px;
		}

		&::after {
			content: url('../public/bracket-right.svg');
			margin-left: 8px;
			right: 15px;
		}

		&:hover::before {
			left: 0px;
			opacity: 1;
		}

		&:hover::after {
			right: 0px;
			opacity: 1;
		}

		@include atMedium {
			font-size: 2.8rem;
			margin-left: 0;
		}

		&:first-child {
			margin-left: 0;
		}
	}
}
