.portfolio {
	.quote {
		h2 {
			color: $primary;
			line-height: 1.4;

			@include atSmall {
				font-size: 2rem;
				color: $black;
			}
		}

		h5 {
			color: $primary;
			font-weight: 400;
			letter-spacing: 5px;
			text-transform: uppercase;
			margin-top: 50px;

			@include atSmall {
				font-size: 1rem;
			}
		}
	}

	.links {
		display: flex;

		@include atSmall {
			flex-direction: column;
			margin-left: 10px;
			margin-right: 10px;
		}

		& > div {
			width: 50%;
			aspect-ratio: 1/1;
			margin-right: 5px;

			@include atMedium {
				width: 100%;
			}
		}

		img {
			transition: transform 0.4s cubic-bezier(0.05, 0.31, 0.62, 0.94);
		}

		.right {
			position: relative;

			&:hover img {
				transform: scale(1.08);
			}

			@include atMedium {
				display: none;
			}
			@include atSmall {
				display: block;
				margin-bottom: 10px;
			}
		}

		.left {
			display: grid;
			margin-left: 5px;
			margin-right: 0px;
			grid-template-columns: 1fr 1fr;
			gap: 10px;

			@include atMedium {
				margin-left: 0px;
			}

			@include atSmall {
				grid-template-columns: 1fr;
			}

			& > div {
				aspect-ratio: 1/1;
				position: relative;
			}

			.bg2:hover img,
			.bg3:hover img {
				transform: scale(1.08);
			}

			@include atSmall {
				.bg3 {
					display: none;
				}

				.bg2 {
					order: 2;
				}

				.link1 {
					order: 1;
				}

				.link2 {
					order: 3;
				}
			}

			.link a {
				display: block;
				width: 100%;
				height: 100%;
				background-color: $primary;
				color: #fff;
				font-weight: bold;

				&:hover span::after {
					margin-left: 16px;
				}

				span {
					position: absolute;
					bottom: 40px;
					left: 60px;
					font-size: 24px;

					@include atLarge {
						font-size: 20px;
						bottom: 20px;
						left: 30px;
					}

					@include atSmall {
						bottom: 30px;
						left: 40px;
					}

					&::after {
						content: '';
						display: inline-block;
						border: solid #fff;
						border-width: 0 1.5px 1.5px 0;
						padding: 10px;
						transform: translateX(10px) translateY(3px) rotate(-45deg);
						transition: all 0.3s ease-in-out;

						@include atLarge {
							padding: 8px;
						}
					}
				}
			}
		}
	}
}
